.product-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 20px;
}

.product-details h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-details h2 {
    font-size: 24px;
    margin: 10px 0;
}

.product-details p {
    font-size: 18px;
    margin: 10px 0;
}